Kaashvi PRD.pdf
Kaashvi_guidlines.pdf
.env
venv
.claude
credantials.json
token.pickle
desktopnode_modules
desktop/node_modules
desktop\node_modules
C:\Users\divka\Desktop\interns\coop\kaashvi\desktop\node_modules
desktop/package-lock.json
conversation_history.json
credentials.json
.vscode/