Kaashvi PRD.pdf
Kaashvi_guidlines.pdf
.env
venv
.claude
credantials.json
token.pickle
desktopnode_modules
desktop/node_modules
desktop\node_modules
C:\Users\divka\Desktop\interns\coop\kaashvi\desktop\node_modules
desktop/package-lock.json
conversation_history.json
credentials.json
.vscode/
ai-engineer_roadmap.pdf
tasks.json
reminders.json
integrations/__pycache__/*
agent/__pycache__/*
integrations/__pycache__/google_auth.cpython-314.pyc